doctype html
head
  title Pug
  script(type='text/javascript').
    if (foo) bar(1 + 5)
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
.container(style='text-align:center')
  | In college, Farhan and Raju form a great bond with Rancho due to his refreshing outlook.
  br
  | Years later, a bet gives them a chance to look for their long-lost friend whose
  | existence seems rather elusive.
