doctype html
head
  title Pug
  script(type='text/javascript').
    if (foo) bar(1 + 5)
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
br
br
br
br
.container
  .card(style='width: 18rem;')
    img.card-img-top(src='...' alt='stars')
    .card-body
      h5.card-title The Fault in Our Stars
      p.card-text
        | An extraordinary story which definitely will touch your heart !
      a.btn.btn-primary(href='/stars') More Details
.container
  br
  br
  .card(style='width: 18rem;')
    img.card-img-top(src='...' alt='3 idiots')
    .card-body
      h5.card-title 3 idiots
      p.card-text
        | A journey of 3 engineering students .
      a.btn.btn-primary(href='/idiots') More Details
