doctype html
head
  title Pug
  script(type='text/javascript').
    if (foo) bar(1 + 5)
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
.container(style='text-align:center')

  | Shailene Woodley as Hazel Grace Lancaster. ...
  | Ansel Elgort as Augustus &quot;Gus&quot; Waters.
  | Nat Wolff as Isaac, Augustus&apos; best friend.
  | Laura Dern as Frannie Lancaster, Hazel&apos;s mother.
